<a href="https://colab.research.google.com/github/SachinScaler/Nov22-Beginner-Mon-Evening-1/blob/main/Functional_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def square_func(x):
  return x*x
square_func(2)

4

In [7]:
square_func(3)

9

In [6]:
(lambda x:x*x)(3)

9

In [4]:
(lambda x:x*x)(2)

4

In [9]:
output= (lambda x:x*x)(4)
print(output)

16

Does this mean that we can't store lambda functions?

In [8]:
square_func2 = (lambda x:x*x)
square_func2

In [10]:
square_func2(2)

4

In [11]:
square_func2(3)

9

In [14]:
# multiply two numbers
(lambda x,y:x*y)(3,4)

12

In [15]:
a = (lambda x,y:x*y)
a(3,4)

12

In [16]:
a(6,7)

42

In [17]:
## 3 numbers add two and subtract
(lambda x,y,z:x+y-z)(1,2,3)

0

In [18]:
a = (lambda x,y,z:x+y-z)
a(1,2,3)

0

In [19]:
### conditions?

"""
def funct(x):
  if x>5:
    return "Num is greater than 5"
  else:
    return "Num is Smaller than or equal to 5"
"""

funct = lambda x: "Num is greater than 5" if x>5 else "Num is Smaller than or equal to 5"

In [20]:
funct(5)

'Num is Smaller than or equal to 5'

In [23]:
# a = lambda x : x>5
# a(5)

In [24]:
### conditions?

"""
def funct(x):
  if x>5:
    return "Num is greater than 5"
  elif x<3:
    return "Num is Less  than 3"
  else:
    return "Num between 3 and 5"
"""

funct = lambda x: "Num is greater than 5" if x>5 else "Num is Smaller than or equal to 5" if x<3 else "Num between 3 and 5"

In [25]:
funct(3)

'Num between 3 and 5'

In [26]:
funct(11)

'Num is greater than 5'

In [27]:
# two values as output
a = lambda x,y: (x*y , x+y)

In [28]:
a(5,6)

(30, 11)

In [29]:
(lambda x,y: [x*y , x+y])(5,6)

[30, 11]

Application function

In [33]:
list1 = [ [2,3],
         [4,2],
         [1,9],
         [1,1]]

In [34]:
sorted(list1)

[[1, 1], [1, 9], [2, 3], [4, 2]]

In [ ]:
[[1,1], [4,2], [2,3], [1,9]]

In [39]:
sorted(list1, key = lambda x:x[1])

[[1, 1], [4, 2], [2, 3], [1, 9]]

In [37]:
(lambda x:x[1])([4,2])

2

In [38]:
(lambda x:x[1])([1,9])

9

In [40]:
list1 = [ [2,3],
         [4,2],
         [1,9],
         [1,1]]

list1.sort(key = lambda x:x[1])
print(list1)

[[1, 1], [4, 2], [2, 3], [1, 9]]

In [42]:
list2 = [ [2,3, 6],
         [4,2, 8],
         [1,9, 25],
         [1,1, 2]]


sorted(list2, key = lambda x:x[2])

[[1, 1, 2], [2, 3, 6], [4, 2, 8], [1, 9, 25]]

In [43]:
list2 = [ [2,3, 6],
         [4,2, 8],
         [1,9, 25],
         [1,1, 2]]


def funct(x):
  return x[2]

sorted(list2, key =funct )

[[1, 1, 2], [2, 3, 6], [4, 2, 8], [1, 9, 25]]

In [44]:
sorted(list2, key =2 )

TypeError: ignored

In [47]:
students = [ {"name": "A", "marks": 50}, 
            {"name": "B", "marks": 100}, 
            {"name": "C", "marks": 40}, 
            {"name": "D", "marks": 80}]

            # a list of dictionaries

In [48]:
{"name": "A", "marks": 50}[1]

KeyError: ignored

In [49]:
sorted(students, key = lambda x:x[1])

KeyError: ignored

In [50]:
{"name": "A", "marks": 50}["marks"]

50

In [51]:
sorted(students, key = lambda x:x["marks"])

[{'name': 'C', 'marks': 40},
 {'name': 'A', 'marks': 50},
 {'name': 'D', 'marks': 80},
 {'name': 'B', 'marks': 100}]

In [52]:
sorted(students, key = lambda x:x["marks"], reverse = True)

[{'name': 'B', 'marks': 100},
 {'name': 'D', 'marks': 80},
 {'name': 'A', 'marks': 50},
 {'name': 'C', 'marks': 40}]

Homework Question:

Given the dictionary of customers and their order values as below:

```
Input: 
order1 = {"cust1": 50, "cust2":90, "cust3":30, "cust4":80, "cust5":80 }

Output:
["Cust2", "Cust4" , "Cust5"]
```

print name of top 3 customers wrt their order Value

In [53]:
(lambda num: (num - 10) * 2 / 4)(20)

5.0

In [55]:
func = lambda x: x*2
print(func(2))

4

- Map

In [61]:
list1 = [1,2,3,4,5]

#output = [1,4,9,16,25]
output = []

f = lambda x:x*x
for i in list1:
  output.append(f(i))
print(output)

[1, 4, 9, 16, 25]

In [58]:
# [i*i for i in list1] list comprehnsion

In [60]:
f = lambda x:x*x
list1 = [1,2,3,4,5]

list(map(f,list1 ))

[1, 4, 9, 16, 25]

In [62]:
a = input()

1 2 3 4 5

In [64]:
print(a, type(a)) # [1,2,3,4,5]

1 2 3 4 5 <class 'str'>

In [68]:
a = a.split(" ")
a

['1', '2', '3', '4', '5']

In [70]:
list(map(int, a))

[1, 2, 3, 4, 5]

In [72]:
# list(map(int, input().split(" ")))

1 2 3 4 5

[1, 2, 3, 4, 5]

### Filter:
list1 = [1,2,3,4,5]

only even number from this list:
[2, 4]

In [74]:
list1 = [1,2,3,4,5]

list(map(lambda x : x%2==0, list1))

[False, True, False, True, False]

In [76]:
list1 = [1,2,3,4,5]

list(filter(lambda x : x%2==0, list1))

[2, 4]

In [77]:
list1 = [1,2,3,4,5]

list(filter(lambda x : x>0, list1))

[1, 2, 3, 4, 5]

In [78]:
def check(s):
    return s.startswith("ch")

a = ["channel", "child", "cat", "chemistry", "code"]

list(filter(check, a))

['channel', 'child', 'chemistry']

In [80]:
list(filter(lambda x : x[:2]=='ch', a))

['channel', 'child', 'chemistry']

Reduce:

In [81]:
from functools import reduce # importing reduce in memory 

list1 = [1,2,3,4,5]

reduce(lambda x,y: x+y, list1 )

15

In [82]:
list1 = ['s','a','c','h','i', 'n']

reduce(lambda x,y: x+y, list1 )

'sachin'

In [84]:
# factorial of numbers in range 1 ,100
reduce(lambda x,y: x*y, range(1,101) )

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [86]:
# factorial of 5 using reduce
reduce(lambda x,y: x*y, range(1,6))

120

In [88]:
list(filter(lambda x: x%5==0 or x%2==0, [1,2,3,4,5]))

[2, 4, 5]

In [90]:
reduce(lambda x,y: x*y,  map(lambda x:x*2, filter(lambda x: x%5==0 or x%2==0, [1,2,3,4,5])))

320

In [ ]:
reduce(lambda x,y: x*y, [2,4,5] )

In [96]:
def func2(c, d):
    return c, d


# is returning a function: 
# Next sesssion we are going to talk about function which takes function as argument and return functions as argument
# Higher Order Function and Decorators
def func1(a, b):
    c = a**1
    d = b**2
    return lambda: func2(c,d)

result = func1(1, 2)

print(result)

<function func1.<locals>.<lambda> at 0x7f774bd308b0>

In [94]:
result()

(1, 4)