<a href="https://colab.research.google.com/github/SachinScaler/Nov22-Beginner-Mon-Evening-1/blob/main/OOP_Part_3_Mon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- Access Specifier

In [ ]:
class BankAccount:
  def __init__(self, name, id, balance):
    self.name =name
    self.id = id
    self.balance = balance

  def show_balance(self):
    return self.name + " has a balance of " + str(self.balance)

ac1= BankAccount("Ravi", 100, 1000000)

In [ ]:
print(ac1.balance)

1000000

In [ ]:
ac1.show_balance()

'Ravi has a balance of 1000000'

In [ ]:
ac1.balance = 100000000000000000000000

In [ ]:
print(ac1.balance)

100000000000000000000000

In [ ]:
ac1.show_balance()

'Ravi has a balance of 100000000000000000000000'

### Private Varible:
- We can make our sensitive variables Private

In [ ]:
class BankAccount:
  def __init__(self, name, id, balance):
    self.name =name
    self.id = id
    self.__balance = balance

  def show_balance(self):
    return self.name + " has a balance of " + str(self.__balance)

  def deposit(self, amount):
    self.__balance+=amount

ac1= BankAccount("Ravi", 100, 1000000)

In [ ]:
print(ac1.balance)

AttributeError: ignored

In [ ]:
print(ac1.__balance)

AttributeError: ignored

In [ ]:
ac1.show_balance()

'Ravi has a balance of 1000000'

In [ ]:
# Can we change value of private variable inside the class?

In [ ]:
ac1.deposit(99)

In [ ]:
ac1.show_balance()

'Ravi has a balance of 1000099'

#### `__dict__` shows all the instance variables of an object in dictionary format

In [ ]:
ac1.__dict__

{'name': 'Ravi', 'id': 100, '_BankAccount__balance': 1000099}

In [ ]:
# loophole, if you know the class name you can still access private variables
ac1._BankAccount__balance = 0

In [ ]:
ac1.show_balance()

'Ravi has a balance of 0'

#### We DON'T have TRUE PRIVATE ACCESS SPECIFIER

#### Private Variables Can't be inherited

In [ ]:
### Quiz 1

class A:
  x =10

class B(A):
  y = 20

obj = B()
print(obj.y)

20

In [ ]:
### Quiz 1

class A:
  x =10

  def some_method(self):
    print("In Class A")

class B(A):
  A.x = 100
  y = 20

obj = B()
print(obj.x)

100

In [ ]:
obj.some_method()

In Class A

In [ ]:
class A:
  __x =10

class B(A):
  y = 20

obj = B()
print(obj.__x)

AttributeError: ignored

In [ ]:
# class A:
#   _x =10

# class B(A):
#   y = 20

# obj = B()
# print(obj._x)

In [ ]:
class A:
  __x =10

class B(A):
  y = 20
  A._A__x=100

obj = B()
A._A__x

100

In [ ]:
class A:
  x = 9

class B(A):
  x=99

class C(B):
  x = 999

c = C()
print(c.x)

999

In [ ]:
class A:
  x = 9

class B(A):
  x=99

class C(B):
  pass

c = C()
print(c.x)

99


- 9 yes
- 99 No

In [ ]:
class A:
  x = 9
  y = 100

class B(A):
  x=99

class C(B):
  pass

c = C()
print(c.y)

100

In [ ]:
class A:
  x = 9
  y = 100

class B(A):
  x=99

class C(B):
  pass

c = C()
print(c.z)

AttributeError: ignored

### Multiple Inheritance

In [ ]:
class A:
  x = 9
  y = 100

class B:
  x=99

class C(B,A):
  pass

c = C()
print(c.x)

99

In [ ]:
print(c.y)

100

In [ ]:
class Student:
    def __init__(self,roll,marks):
        self.roll = roll
        self.marks = marks
    def display(self):
        print('Roll:', self.roll,'Marks:',self.marks, end=" ")

student1 = Student(34,'A')
student1.age = 17
print(student1.display(), 'Age:',student1.age)

In [ ]:
def Func1(a):
  print(a)
  return a

print(Func1(10))

10
None

In [ ]:
class A:
  pass
class B(A):
  pass
class C(B):
  pass
class D(A):
  pass
class E(C,D):
  pass

In [ ]:
### "Method Resolution Order"
E.__mro__

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)

In [58]:
### Which of the following is false with respect to the following python code?
class Student: 
  def __init__(random, id, age): 
    random.id = id 
    random.age = age

  def __str__(self) :
    return "Call print object"
    
s1 = Student(1, 5000)

In [59]:
print(s1)

Call print object

In [63]:
class A:
    counter= 0
    def __init__(self):
      A.counter+=1

A() # object created
obj1 = A() # 2nd Object
A()
print(A.counter)

3

In [64]:
class A:
    counter= 0
    def __init__(self):
      self.counter+=1

A() # object created
obj1 = A() # 2nd Object
A()
print(A.counter)

0

### Let's say id start with 1000, 1001, 1002, 1003

In [65]:
class BankAccount:
  def __init__(self, name, id, balance):
    self.name =name
    self.id = id
    self.balance = balance

  def show_balance(self):
    return self.name + " has a balance of " + str(self.balance)

ac1= BankAccount("Ravi", 100, 1000000)

ac2= BankAccount("Ganesan", 101, 1000000)

In [66]:
ac3= BankAccount("Sachin", 103, 1000000)

In [68]:
class BankAccount:
  id = 100
  def __init__(self, name, balance):
    self.name =name
    self.id = BankAccount.id
    self.balance = balance
    BankAccount.id+=1

  def show_balance(self):
    return self.name + " has a balance of " + str(self.balance)

ac1= BankAccount("Ravi", 1000000)

ac2= BankAccount("Ganesan", 1000000)

In [69]:
ac1.id

100

In [70]:
ac2.id

101

In [71]:
ac3= BankAccount("Sachin", 1000000)

In [72]:
ac3.id

102

- Distance between two points
- Equation of line
- Slope
- Pythagoras theorem
- Angle between two lines

In [85]:
### all 4 pillars at one place
class Animal:
  def __init__(self, species):
    self.species = species 

class Mammal(Animal):
  def __init__(self, species,leg_count):
    super().__init__(species)
    self.leg_count=leg_count

  def eating_habit(self):
      return "All eating"

class Tiger(Mammal):
    def __init__(self, species,leg_count,stripes):
      super().__init__(species,leg_count)
      self.stripes=stripes 
    
    # overriden method of mammal class
    def eating_habit(self):
      return "Carnivorous"


class Human(Mammal):
    nationality = "Human"
    def __init__(self, species,leg_count,knows_ml, id):
      super().__init__(species,leg_count)
      self.knows_ml=knows_ml
      self.__id = id

    # overloaded method of mammal class
    def eating_habit(self, food):
      return "Eats: ", food

### Pillars
# 1. Encapsulation: packing methods and attributes into a single entity class
# 2. Abstraction: We hide irrelevant details. We can call method without even knowing what logic is inside that
# 3. polymorphism: Two methods with same name but different behaviour
# 4. Inheritance

In [88]:
h1 = Human("Homosapiens", 2, "A bit", 101)

In [82]:
h1.eating_habit("Rice")

('Eats: ', 'Rice')

In [83]:
t1= Tiger("Cat", 4, "BlackStripes")

In [84]:
t1.eating_habit()

'Carnivorous'

In [86]:
Human.nationality

'Human'

In [89]:
h1.nationality

'Human'

In [93]:
class A:
  def get_random(shubham):
    print(id(shubham))

a = A()

In [94]:
print(id(a))

140019631808128

In [95]:
a.get_random()

140019631808128

In [103]:
class A:
  var = 20  
  def __init__(self,a):
    self.a = a  
class B(A):
  def __init__(self, name,id):
    super().__init__(name)
    self.id = id
obj1 = B("Sachin",10)

In [104]:
obj1.a

'Sachin'

In [105]:
obj1.id

10

In [100]:
class Student:
  pass

class Instructor(Student):
  pass