<a href="https://colab.research.google.com/github/SachinScaler/Nov22-Beginner-Mon-Evening-1/blob/main/OOPS_Session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# bankaccount
account_number = 100
customer_name = "Sachin"
acc_balance = 1000

def deposit(curr_balance, amount):
  return curr_balance+amount

acc_balance = deposit(acc_balance, 100)
print(acc_balance)

# - 1000 
# - 100

1100

In [ ]:
acc_balance = deposit(acc_balance, 500)
print(acc_balance)

1600

In [ ]:
c1_account_number = 101
c1_customer_name = "Ankit"
c1_acc_balance = 500

c1_acc_balance = deposit(c1_acc_balance, 500)
print(c1_acc_balance)

1000

In [ ]:
### creating empty class
class BankAccount:
  pass


# creating new customer called c1
c1 = BankAccount()

In [ ]:
c2 = BankAccount()

In [ ]:
print(type(c1))

<class '__main__.BankAccount'>

In [ ]:
print(type(c2))

<class '__main__.BankAccount'>

In [ ]:
print(id(c1))
print(id(c2))

139912231794480
139912232067520

### isinstance(), tell you if an object is of certain type/class

In [ ]:
a = 10
print(type(a))

<class 'int'>

In [ ]:
isinstance(a, str)

False

In [ ]:
isinstance(a, int)

True

- c1 and c2 are also called object of the class BankAccount.

In [ ]:
isinstance(c1, int)

False

In [ ]:
isinstance(c1, BankAccount)

True

#### c1 and c2 are instance of class bankaccount
#### Instantiation: Process of creating objects: BankAccount()

In [ ]:
c1 = BankAccount()
BankAccount() # creates object but there is no reference variable to store this
c2 = BankAccount()
# there are 3 objects

In [ ]:
class Student:
  pass

s1 = Student()
s2 = Student()
s3 = Student()

In [ ]:
def func():
  pass

In [ ]:
c1 = BankAccount()

# properties: are also known as instance variable
c1.account_id = 100
c1.balance = 1000
c1.name = "Sachin"

In [ ]:
c2 = BankAccount()

# Instance variables: 4
c2.account_id = 101
c2.balance = 500
c2.name = "Ankit"
c2.pancard = "FWKPP5322Q"

In [ ]:
print(c1.name, c1.balance)

Sachin 1000

In [ ]:
print(c2.name, c2.balance)

Ankit 500

In [ ]:
print(c1.pancard)

AttributeError: ignored

In [ ]:
print(c2.pancard)

FWKPP5322Q

In [ ]:
class BankAccount:

  def show_balance(self):
    print(self.name)
    print(self.balance)

c1 = BankAccount()
c1.account_id = 100
c1.balance = 1000
c1.name = "Sachin"

In [ ]:
BankAccount.show_balance(c1)

Sachin
1000

In [ ]:
c2.account_id = 101
c2.balance = 500
c2.name = "navin"

BankAccount.show_balance(c2)

navin
500

In [ ]:
BankAccount.show_balance()

TypeError: ignored

In [ ]:
# def funct(a):
#   print(a)

# b = 20
# funct(b)

In [ ]:
c1.show_balance() # BankAccount.show_balance(c1)

Sachin
1000

In [1]:
class BankAccount:
  def show_balance(self):
    print(self.name)
    print(self.balance)


c1 = BankAccount()
c1.account_id = 100
c1.balance = 1000
c1.name = "Sachin" 

c2 = BankAccount()
c2.account_id = 101
c2.balance = 500
c2.name = "Ravi"


print("approach 1 of calling method")
BankAccount.show_balance(c2)

print("approach 2 of calling method")
c2.show_balance() 


# change self to customer in above class and 


# approach 1 and 2

approach 1 of calling method
Ravi
500
approach 2 of calling method
Ravi
500

In [ ]:
class Student:
  def function(self):
    print("inside Class student")

s1 = Student()

#Student.function()

In [ ]:
Student.function(s1)

inside Class student

In [ ]:
s1.function()

inside Class student

### Initializer:

In [ ]:
# acc_id, name, balance
class BankAccount:
  def __init__(self, acc_id, name, balance):
    self.acc_id = acc_id
    self.name = name
    self.balance = balance

  def show_balance(self):
    print("Balance for ", self.name,  "is ", self.balance)

In [ ]:
c1 = BankAccount(101, "Sachin",1000)

In [ ]:
c1.acc_id

101

In [ ]:
c1.name

'Sachin'

In [ ]:
c1.balance

1000

In [ ]:
c2 = BankAccount(102, "Ankit",500)

In [ ]:
c3 = BankAccount()

TypeError: ignored

In [ ]:
c1.show_balance()

Balance for  Sachin is  1000

In [ ]:
c2.show_balance()

Balance for  Ankit is  500

### Initializer : Assign common set of mandatory properties to each instance of class

- instance/object c1
- properties/ instance variables = c1.name

In [ ]:
# student class: rollNo, stream, name, age
class Student:
  def __init__(self, rollno, stream, name, age):
    self.rollno = rollno
    self.stream = stream
    self.name = name
    self.age = age

  def print_name_and_rollno(self):
    print(self.name) #S1.NAME
    print(self.rollno)

s1 = Student(1, "CSE", "Ankit", 10000)

In [ ]:
s2  = Student(2, "IT", "Vivek", 20000)

In [ ]:
s1.print_name_and_rollno()

Ankit
1

In [ ]:
s2.print_name_and_rollno()

Vivek
2

### Pillars of OOP:
- Encapsulation: Hiding Data and Methods inside class

- Abstraction: Hiding irrelevant details or code to use the code

for Next Class
- Polymorphism
- Inheritance



Class Variable and difference between instance Variables vs Class Variables

In [ ]:
print(c2)

<__main__.BankAccount object at 0x7f3fae7727f0>

In [ ]:
c2.show_balance()

Balance for  Ankit is  500


Inheritance

In [ ]:
def print_hello():
  print("Hello World")

print_hello()

Hello World

In [ ]:
print_hello("Sachin")

TypeError: ignored

In [ ]:
def print_hello(self):
  print("Hello ", self)

print_hello("Sachin")

Hello  Sachin

In [ ]:
print_hello()

TypeError: ignored

In [ ]:
c1 = BankAccount()

In [ ]:
int a = 10

a = 10