<a href="https://colab.research.google.com/github/SachinScaler/Nov22-Beginner-Mon-Evening-1/blob/main/OOPS_Session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class A:
    def __init__(self):
      print("New object Created!")

A() #line 1

obj1 = A() # line 2

if A(): #line 3
    print(A()) #line 4

# 4 objects would be created

New object Created!
New object Created!
New object Created!
New object Created!
<__main__.A object at 0x7f4fb4ae4370>

In [2]:
print(id(A()))
print(id(A()))

New object Created!
139980310464784
New object Created!
139980310466464

In [5]:
class Random:
    def __init__(self, a = "default value stored!"):
        self.a = a
 
    def display(self):
        print(self.a)
        
r = Random()
r.display()

default value stored!

In [7]:
class A:
    def __init__(self, name):
        self.name = name
    
a1 = A("Bunty")
a2 = A("Bunty")

print(id(a1) == id(a2))

False

In [9]:
class MyCustomClass:
  def show_id(self):
    return id(self)

a1 = MyCustomClass()
print(id(a1))
print(a1.show_id())

139979567009264
139979567009264

### Static Variable or Class Variables:

Static Variable are variable which belong to Class instead of Object

In [12]:
class A:
  var = "Hello"

  def __init__(self, name):
    self.name = name
a = A("Sachin")

In [13]:
A.var

'Hello'

In [14]:
A.name?

Object `A.name` not found.

In [15]:
a.var

'Hello'

In [19]:
class Employee:
  company_name = "Scaler"


  def __init__(self, id, name):
    self.name = name
    self.id = id

e1 = Employee(1, 'A')

In [20]:
print(e1.company_name)
print(e1.name)
print(e1.id)

Scaler
A
1

In [21]:
e2 = Employee(2, 'B')
print(e2.company_name)
print(e2.name)
print(e2.id)

Scaler
B
2

In [22]:
# OVERWRITE WITH CLASS
Employee.company_name = "InterviewBit"
print(e1.company_name)
print(e2.company_name)

InterviewBit
InterviewBit

In [23]:
# OVERWRITE CLASS VARIABLE USING OBJECT
e1.company_name = "Amazon"
print(Employee.company_name)
print(e1.company_name) # a new instance variable is created only for
                        # e1 when class variable is IMMUTABLE
print(e2.company_name)

InterviewBit
Amazon
InterviewBit

In [24]:
class Employee:
  company_name = ["INTERVEIWBIT"] # L S D


  def __init__(self, id, name):
    self.name = name
    self.id = id

e1 = Employee(1, 'A')
e2 = Employee(2, 'B')

In [25]:
print(Employee.company_name)
print(e1.company_name) 
print(e2.company_name)

['INTERVEIWBIT']
['INTERVEIWBIT']
['INTERVEIWBIT']

In [26]:
# update using class variable with class
Employee.company_name.append("Interview")
print(Employee.company_name)
print(e1.company_name) 
print(e2.company_name)

['INTERVEIWBIT', 'Interview']
['INTERVEIWBIT', 'Interview']
['INTERVEIWBIT', 'Interview']

In [27]:
# update using class variable with object
e1.company_name.append("Scaler")
print(Employee.company_name)
print(e1.company_name) 
print(e2.company_name)

['INTERVEIWBIT', 'Interview', 'Scaler']
['INTERVEIWBIT', 'Interview', 'Scaler']
['INTERVEIWBIT', 'Interview', 'Scaler']

Point 1: If class Variable is update using `ClassName` then the change would reflect everywhere.

Point2: If class Variable is update using `Object` then the change only reflect to the particular object if class variable is IMMUTABLE. (This would create instance varialble specific to the object)


Point3: If class Variable is update using `Object` then the change would reflect everywhere if class variable is Mutable.

In [94]:
class A:
    counter=0 ## immutable
    def __init__(self):
      self.counter+=1

obj1 = A()
obj2 = A()
print(A.counter)

0

In [31]:
class A:
    counter=0 
    def __init__(self):
      self.counter+=1

A()

obj1 = A()

if A():
    print(A.counter)

0

In [32]:
obj1.counter

1

In [34]:
class A:
    counter= 0 # immutable
    def __init__(self):
      A.counter+=1

A()

obj1 = A()

if A():
    print(A.counter)

3

In [35]:
obj1.counter

3

In [ ]:
# 10:08

#### Pillars of OOPS:
- Encapsulation
- Abstraction
- Polymorphishm: `one thing  many forms`
- Inhertiance

In [36]:
1 + 2 # matmethical summation

3

In [37]:
'a' + 'b' # concatenation

'ab'

`+` operator shows different behaviour based on operand class

In [39]:
[1,2, 3] + [4]

[1, 2, 3, 4]

In [40]:
class DSMLInstructor:
  def teaches(self):
    print("Instructor teaches Data Science and ML")


class AcademyInstructor:
  def teaches(self):
    print("Instructor teaches Software Development")


t1 = DSMLInstructor()
t2 = AcademyInstructor()

In [41]:
t1.teaches()

Instructor teaches Data Science and ML

In [42]:
t2.teaches()

Instructor teaches Software Development

In [44]:
class DSMLInstructor:
  def teaches(self):
    print("Instructor teaches Data Science and ML")


class AcademyInstructor:
  def teaches(self, world):
    print("Instructor teaches Software Development")


t1 = DSMLInstructor()
t2 = AcademyInstructor()
t1.teaches()
t2.teaches("Bye")

Instructor teaches Data Science and ML
Instructor teaches Software Development

#### magic methods: __init__, __eq__, __add__

In [46]:
class DSMLInstructor:

  def __init__(self):
    print("Creating instructors")
  def teaches(self):
    print("Instructor teaches Data Science and ML")


t1 = DSMLInstructor()
dir(t1)

Creating instructors

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'teaches']

In [50]:
class DSMLInstructor:

  def __init__(self, name):
    self.name = name

  def teaches(self):
    print("Instructor teaches Data Science and ML")



t1 = DSMLInstructor("Sachin")
print(t1)

<__main__.DSMLInstructor object at 0x7f4f88469f40>

In [51]:
class DSMLInstructor:

  def __init__(self, name):
    self.name = name

  def teaches(self):
    print("Instructor teaches Data Science and ML")

  # changes the behavious of print function
  def __str__(self):
    return "Instructor name is: " + self.name

t1 = DSMLInstructor("Sachin")
print(t1)

Instructor name is: Sachin

In [59]:
class DSMLInstructor:

  def __init__(self, name):
    self.name = name

  def teaches(self):
    print("Instructor teaches Data Science and ML")

  # changes the behavious of print function
  def __str__(self):
    return "Instructor name is: " + self.name

t1 = DSMLInstructor("Sachin")

In [60]:
t2 = DSMLInstructor("Sachin")

In [61]:
t1==t2

False

In [62]:
class DSMLInstructor:

  def __init__(self, name):
    self.name = name

  def teaches(self):
    print("Instructor teaches Data Science and ML")

  # changes the behavious of print function
  def __str__(self):
    return "Instructor name is: " + self.name


  def __eq__(self, other_object):
    return self.name==other_object.name

t1 = DSMLInstructor("Sachin")
t2 = DSMLInstructor("Sachin")

In [63]:
t1==t2

True

In [64]:
t3 = DSMLInstructor("A")
t4 = DSMLInstructor("B")
t3==t4

False

In [65]:
dir(t1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'name',
 'teaches']

### Homework: Try overiding `__add__,  __lt__, __call__`

#### Inhertance

In [66]:
class Parent:
  def __init__(self):
    print("Inside Parent Class")

class Child(Parent):
  def __init__(self):
    print("Inside Child Class")

In [67]:
p1 = Parent()

Inside Parent Class

In [68]:
c1 = Child()

Inside Child Class

In [73]:
class Parent:
  def __init__(self):
    print("Inside Parent Class")

class Child(Parent):

  def __init__(self):
    #Parent.__init__(self)
    super().__init__()
    print("Inside Child Class")
c1 = Child()

Inside Parent Class
Inside Child Class

In [75]:
class ScalerMember:
  def __init__(self,name):
    self.name = name

class Student(ScalerMember):
  def __init__(self, name, batch):
    self.batch = batch

class Staff(ScalerMember):
  def __init__(self, name, salary):
    self.salary = salary 


class Teacher(Staff):
  def __init__(self, name, salary, subject):
    self.subject = subject

In [76]:
st1 = Student("Ravi", "Nov22")

In [77]:
st1.batch

'Nov22'

In [78]:
st1.name

AttributeError: ignored

In [89]:
class ScalerMember:
  def __init__(self,name):
    self.name = name

class Student(ScalerMember):
  def __init__(self, name, batch):
    super().__init__(name)
    self.batch = batch

class Staff(ScalerMember):
  def __init__(self, name, salary):
    super().__init__(name)
    self.salary = salary 


class Teacher(Staff):
  def __init__(self, name, salary, subject):
    super().__init__(name, salary)
    self.subject = subject 


st1 = Student("Ravi", "Nov22")
print(st1.name, st1.batch)

Ravi Nov22

In [90]:
t1 = Teacher("Sachin", 10, "DSML")

In [91]:
t1.name

'Sachin'

In [92]:
t1.salary

10

In [93]:
t1.subject

'DSML'

### Multiple Inheritance
### Private Variable
### can we have example for relating polymorphism and inheritence??in above examples

In [ ]:
mutable = [], {,}, {"A":"B"}

immutable = 'int', 'str'

class A:
  var1 = 1 # static var or class var
  def someMethod(self, name, id):
    self.var2= name # instance variable
    var3= id  # local variable